<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="600220">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0521086384396309 -0.000432029546655593 0.0190393113884893"
        rpy="0 0 0" />
      <mass
        value="58.9216091029073" />
      <inertia
        ixx="0.447567650684175"
        ixy="-7.54700133379734E-06"
        ixz="0.00019651050997606"
        iyy="0.699744747665013"
        iyz="-0.000695806470528468"
        izz="0.796277449368321" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cg_visualization/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cg_visualization/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>