behavior_executive_node:
  ros__parameters:
    # Absolute +/- thresholds for tracking agent state
    thresh_pos: 0.2 # meters
    thresh_head: 0.523599 # radians
    thresh_euclidean_replan: 0.25 # meters

    # Kinematic planner (all params are floats)
    goal_pose_distance_threshold: [0.1, 0.1, 0.2, 0.2, 0.4, 1.0] # m -> 0.1, 0.2, 0.3, 0.4
    goal_pose_yaw_threshold: 0.1 # rad
    turn_radii_min: 2.0 # m
    max_trajectory_length: 0.4 # m
    trajectory_resolution: 0.05 # m
    n_arms : 1 # max number of lattice arms in each quadrant
    lattice_radii_scale_factor : 1.7 # multiplicative factor for lattice arms, closer to 1 makes arms approach min turn radius, larger makes arms approach straight line: radius[n] = turn_radii_min * lattice_radii_scale_factor^(n)
    pose_position_equality_threshold: 0.1 # m: note that this can potentially prune lattice arms depending on arm geometry - resulting turn radii, max trajectory length)
    pose_yaw_equality_threshold: 0.1 # rad: note that this can potentially prune lattice arms depending on arm geometry - resulting turn radii, max trajectory length)
    topography_weight: 100.0 # "unitless"
    trajectory_heuristic_epsilon: [2.0, 5.0, 5.0, 10.0, 10.0, 50.0] # for weighted A* heuristic --> 1.0, 2.0, 5.0, 10.0
    max_pose_equality_scalar: 2.0 # UNUSED: For scaling goal pose equality thresholds
    pose_equality_scalar_iteration: 1500 # For scaling goal pose equality thresholds --> 1500

    # Transport planner
    source_threshold_z: 0.02 # meters off fit plane
    sink_threshold_z: 0.07 # meters below fit plane
    thresh_max_assignment_distance: 0.6 # max meters between transport assignments
    last_pose_offset: 10.0 # meters to rearward offset last pose in transport assignment by
    source_pose_offset: 0.5 # meters to rearward offset source pose in transport assignment by
    transport_plan_max_calls: 100 # Number of calls to REPLAN_TRANSPORT before a replan is triggered
    boundary_min: 0.7 # max pose for x-y in sitemap frame
    boundary_max: 4.3 # min pose for x-y in sitemap frame
    thresh_filter_assignment_pos: 0.2 # minimum meters between final transport assignments
    thresh_filter_assignment_head: 6.28 # minimum heading [rad] between final transport assignments

    # Exploration planner
    map_coverage_threshold: 0.01
    exploration_min_dist_from_map_boundary: 0.5 # Min meters from map boundary for circular pass
    explored_once: false # set false to do exploration, true means system will skip exploration
    exploration_enable_topography_weight: false # Use to enable/disable topography weight in exploration plan

    # Tool planner
    design_blade_height: 80.0  # Height of blade when grading
    raised_blade_height: 0.0   # Height of blade when lifted

    # Velocity planner
    constant_velocity: 30.0  # Constant velocity for velocity planner, %FS

    # Validation parameters
    topology_equality_threshold: 0.05 # Note: must be <= transport_threshold_z

    # Timer callbacks
    fsm_timer_callback_ms: 500 # milliseconds
    service_response_timeout_ms: 500 # milliseconds
    viz_timer_callback_ms: 500 # milliseconds

    # Map loading
    design_topo_filepath: "/root/CRATER_GRADER/cg_ws/src/planning/config/50x50_zeros_height_map.csv" # use absolute path

    # Viz
    viz_planning_height: 1.0 # meters, in global frame

    # Callback-group syncronous
    sync_callback_groups: true # MUST BE TRUE TO AVOID RUNTIME MEMORY COLLISIONS!!! MAKE FALSE ONLY ONLY ONLY FOR DEBUG!!!

    # TRAJECTORY DEBUG
    # Overwrites agent and goal poses with given values
    traj_debug: false
    agent_x: 0.5
    agent_y: 0.5
    agent_yaw: 0.0
    goal_x: 2.0
    goal_y: 3.0
    goal_yaw: 0.0
